<h1>BoTOpinion</h1>
<hr>

<div class="row">
    <div class="col">
        <button class="btn btn-dark">Home</button>
        <button routerLink="/opiniones" routerLinkActive="active" class="btn btn-dark">Login</button>
    </div>
</div>
<div class="d-flex justify-content-around my-3 px-5 text-center flex-wrap">
    <p>
        BotOpinion recopila opiniones de usuarios los cuales son ingresados en este sitio, cada opinion 
        siendo catalogado por los siguientes tipos: Positivo, Negativo y Neutro. La informacion agregada en la 
        base de datos podrá ser usada para ayudar a entrenar a los bots de opinion y evitar recopilar comentario
        por comentario.
    </p>

    <div class="d-flex justify-content-around my-3 px-5 text-center flex-wrap">   
        <img class="w3-round" src="../../../assets/Imagenes/escudo_itt_grande.png" alt=""  width="200" height="200">
    </div>
</div>
<div class="d-flex justify-content-around my-3 px-5 text-center flex-wrap">   
    <p>
        Proyecto desarrollado por:
        <br>César Alejandro Álvarez Rodriguez
        <br>Brian Fernando Hernandez Gonzalez
        <br>Cristopher David Canales Almendares
    </p> 
 </div>
